/* Font */
@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500&display=swap%27");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
/* Color */
:root {
  --main-background: linear-gradient(to right, #141e30, #243b55);
  --font-style: "Zen Maru Gothic", sans-serif;
  --font-color-light: #ffff;
  --font-color-dark: #0000;
  --color-primary: #0a043c;
  --color-secondary: #091940;
  --font-color-light-secondary: #ff7f50;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-style);
}

*{
  font-family: 'Roboto', sans-serif;
  margin:0; 
  padding:0;
  box-sizing: border-box;
  outline: none; 
  border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .1s linear;
}

/* Nav Bar */
.nav-main {
  background:#141e30;
  position: fixed;
  width: 100%;
  z-index: 2;
  border-bottom: 2px solid #F16357;
}
.btn-burger {
  padding: 5px;
  text-align: center;
  cursor: pointer;
  transition: 0.6s;
}
.btn-burger:hover {
  color: var(--font-color-light);
}
.logo {
  color: var(--font-color-light);
}
.btn-search {
  background: var(--main-background);
  color: var(--font-color-light);
}
.btn-search:hover {
  background: var(--font-color-light-secondary);
}

/* Side Bar */
.side-bar {
  /* border: 3px solid rgb(255, 30, 30); */
  background: #141e30;
  height: 100%;
  width: 250px;
  position: fixed;
  left: -1000px;
  z-index: 1;
  transition: 0.6s;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(255, 255, 255, 0.09) 0px 32px 16px;
}
.side-bar-show {
  left: 0;
}
.side-menu {
  position: relative;
  top: 100px;
  height: 300px;
  left: 20px
}
.side-menu ul li {
  width: 100%;
  padding: 5px ;
}
.side-menu ul li a {
  display: block;
  font-size: 22px;
  padding: 10px;
  text-decoration: none;
  transition: 0.5s;
  color: var(--font-color-light);
}
.side-menu ul li a:hover {
  font-size: 21px;
  background: #141e30;
  box-shadow:  rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
  rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
  rgba(255, 255, 255, 0.09) 0px 32px 16px;
}

/* Content */
.content {
  /* border: 3px solid rgb(255, 217, 47); */
  height: 120px;
  width: 100%;
  /* width: 1653px; */
  position: relative;
}

.content .content-body {
  height: 1500px;
  width: 100%;
  padding: 80px;
  /* border: 3px solid greenyellow; */
  background: var(--main-background);
}
.content .content-body .content-box {
  margin: 50px 0;
}

/* recently-song */
.content .content-body .box-search {
  width: 100%;
  height: 700px;
  background: var(--color-secondary);
  border-radius: 25px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.content .content-body .box-search .title {
  font-size: 30px;
  font-weight:500px;
  color: var(--font-color-light);
  padding: 25px;
  color: azure;
  position: relative;
  left: 20px;
}

/*
.content {
  text-align: center;
  color: var(--font-color-light);
  padding: 25px;
  margin: 0 25px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  transition: 0.5s;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: var(--main-background);
  border-radius: 25px;
}
.content .content-body .box-search .song-info:hover {
  transform: scale(1.2);
}
.song-info::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  /* top: 0; */
  /* bottom: -230px;
  left: 0;
  right: 0;
  background: var(--color-secondary);
  opacity: 0.9;
  transition: 0.6s;
}
.song-info::after {
  content: "Play";
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 90px;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.6s;
}
.song-info:hover::before {
  bottom: 0;
}
.song-info:hover::after {
  opacity: 1;
}
.content .content-body .box-search .song-info .img-box {
  width: 100px;
  height: 100px;
}
.content .content-body .box-search .song-info .img-box img {
  width: 100%;
  height: 100%;
}
.content .content-body .box-search .song-info p {
  padding-top: 25px;
  font-size: 20px;
} */ 


.box_musicOF .heading{
  display: inline-block;
  color: azure;
  position: absolute;
  top:  260px;
  left: 120px;
  font-weight:450;
}

.box_musicOF .box_musicOF{
  padding: 110px 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 350px));
  gap: 25px;  
  background-color: #1D2838;
  /* space boxSong */
  
}   

.box_musicOF .box_musicOF .boxSong{
  border:lightslategray;    
}

.box_musicOF .box_musicOF .boxSong .image{
  height: 350px;
  overflow:hidden;
  width: 350px;
  border-radius: 8px;
}

.box_musicOF .box_musicOF .boxSong .image img{
  height: 350px;
  object-fit: cover;
  width: 350px;
}

.box_musicOF .box_musicOF .boxSong:hover .image img{
  transform: scale(1.2);
}

.box_musicOF .box_musicOF .bboxSong .content{
  padding: 20px;
}

.box_musicOF .box_musicOF .boxSong .content .title{
  font-size: 18px;
  line-height: 3;
  position: relative;
  left: -15px;
  color:#fff;
}

.box_musicOF .box_musicOF .boxSong .content .title:hover{
  color:#F16357;
}

.box_musicOF .box_musicOF .boxSong .content span{
  color:var(--main-color);
  display: block;
  padding-top: 2px;
  font-size: 18px;
  line-height: 0.3;
  position: relative;
  left: 10px;
  color: #858585;
}



/* Player Bar */
.player-bar {
  background: #141e30;
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 2;
  border-top: 1px solid #141e30;
}
.player-box {
  height: 100%;
}
.music-info {
  height: 70%;
  width: 25%;
  margin: 0 10px;
}
.music-info .info-content {
  height: 100%;
}
.music-info .info-content .img-box {
  width: 70px;
  height: 100%;
  margin: 0 20px;
}
.music-info .info-content .img-box img {
  width: 70px;
  height: 100%;
}
.music-info .info-content .info-body {
  color: var(--font-color-light);
}
.player-control {
  height: 70%;
  width: 50%;
  margin: 0 10px;
}
.player-control audio {
  width: 100%;
}
.btn-control-box {
  height: 70%;
  width: 25%;
  margin: 0 10px;
}
.btn-control-box .btn-control {
  padding: 0 25px;
  cursor: pointer;
  font-size: 25px;
  color: var(--font-color-light);
  transition: 0.3s;
}
.btn-control-box .btn-control:hover {
  font-size: 30px;
}

/* Player menu bar */
.btn-control-box .btn-control:hover.btn-loop {
  color: #F16357;
}
.btn-control-box .btn-control:hover.btn-random {
  color: #F16357;
}
.btn-control-box .btn-control:hover.btn-addList {
  color: #F16357;
}
.btn-control-box .btn-control:hover.btn-like {
  color: #F16357;
}
