###################
# Compiled source #
###################
*.env

############
# package #
###########
package-lock.json
package.json

##########
# folder #
##########
node_modules/

##########
#  other #
##########
run.bat