<div class="w-50">
  <h1 class="text-center">Search</h1>
  <form action="/songsname/:name" method="get">
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="text" class="form-control" id="name" name="name" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>

